@font-face{
	font-family: Montserrat;
	src: url(Montserrat/Montserrat.ttf);
}

@font-face{
	font-family: Finland;
	src: url(finland-cufonfonts/Finland.otf);
}

body {
    background-color: #91ced4;
}
body * {
    box-sizing: border-box;
}
.header {
    /*
    background-color: #327a81;
   */
    background-color:  rgb(0,133,195);
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
}
.img-table {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.table-users {
    border: 0;
    border-radius: 10px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
    max-width: calc(100% - 2em);
    margin: 1em auto;
    overflow: hidden;
    width: 80%;
}
table {
    width: 100%;
}
table td, table th {
    /*color: #2b686e;*/
    font-family: 'Montserrat';
    color: rgb(65, 65, 65);
    padding: 10px;
}
table td {
    text-align: center;
    vertical-align: middle;
}
table td:last-child {
    font-size: 0.95em;
    line-height: 1.4;
	text-align: center;
}
table th {
    /*
    background-color: #daeff1;
   */
    background-color: rgb(222, 242, 252);
    font-weight: 300;
}
table tr:nth-child(2n) {
    background-color: white;
}
table tr:nth-child(2n+1) {
    /*background-color: #edf7f8;*/
    background-color: rgb(222, 242, 252);
    
}


@media screen and (max-width: 700px) {
    table, tr, td {
        display: block;
   }
    td:first-child {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100px;
   }
    td:not(:first-child) {
        clear: both;
        margin-left: 100px;
        padding: 4px 20px 4px 90px;
        position: relative;
        text-align: left;
   }
    td:not(:first-child):before {
        color: #91ced4;
        content: '';
        display: block;
        left: 0;
        position: absolute;
   }
    .tabla-comentario:nth-child(2):before {
        content: 'Email:';
   }
   .tabla-comentario:nth-child(3):before {
        content: 'Comentario:';
   }
   .tabla-carrito:nth-child(2):before {
    content: 'Nombre:';
    }
    .tabla-carrito:nth-child(3):before {
    content: 'Precio:';
    }
   
    td:nth-child(4):before {
        content: 'Cantidad:';
   }
    td:nth-child(5):before {
        content: 'Subtotal:';
   }
    tr {
        padding: 10px 0;
        position: relative;
        width: 600px;
   }
    tr:first-child {
        display: none;
   }
   table td:last-child {
 	text-align: left;
    }
}
@media screen and (max-width: 500px) {
    .header {
        background-color: transparent;
        color: #fff;
        font-size: 2em;
        font-weight: 700;
        padding: 0;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
   }
   .img-table {
        border: 3px solid;
        border-color: #daeff1;
        height: 100px;
        margin: 0.5rem 0;
        width: 100px;
   }
    td:first-child {
        /*background-color: #c8e7ea;*/
        background-color: rgb(222, 242, 252);
        /*border-bottom: 1px solid #91ced4;*/
        border-bottom: 1px solid rgb(67, 177, 233);
        border-radius: 10px 10px 0 0;
        position: relative;
        top: 0;
        transform: translateY(0);
        width: 100%;
   }
    td:not(:first-child) {
        margin: 0;
        padding: 5px 1em;
        width: 100%;
   }
    td:not(:first-child):before {
        font-size: 0.8em;
        padding-top: 0.3em;
        position: relative;
   }
    td:last-child {
        padding-bottom: 1rem !important;
        
   }
   table td:last-child {
    text-align: center;
   }
    tr {
        width: 340px;
        background-color: white !important;
        border: 1px solid #6cbec6;
        border-radius: 10px;
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
        margin: 0.5rem 0;
        padding: 0;
   }
    .table-users {
        border: none;
        box-shadow: none;
        overflow: visible;
   }
}
.img-fix{
    border-radius:0;
    height: 40px;
    width: 40px;
    border: 0;
    margin: 0;   
}
.label-fix{
    height: 60px;
    width:  60px;
}
input[type=number] {
    -moz-appearance: textfield;
  }